.body {
    background-color: black;
}
.header {
    color: black;
    background-color: black;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    position: fixed;
    display: flex;
  top: 0;
  z-index: 1;
  align-items: center;
  border-bottom: 1px solid seashell;
}

.breadcrumbs a {
    text-decoration: underline;
    color: seashell;
    display: inline-block;
    padding: 0 10px;
    color: seashell;
    padding: 0 10px;
    margin-right: 10px;
    
}
.logo {
    margin-left: 10px;
}
#mission {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    height: 700px;
    align-content: center;
    width: 1200px;
    background-position: center;
    position: relative;
    margin: 0 auto;
    opacity: 0.9;
    
}
.mission-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    
}


.teas {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    flex-wrap: wrap;
        margin: 0 auto;
    
}
.blitz, .rum, .donuts, .myrtle, .bedford {
    width: 300px;
    height: 200px;
    display: inline-flex;
    margin: 10px;
    display: block;
    margin-bottom: 10px;
}
.teas h4 {
    text-align: center;
    color: seashell;
    font-family: Helvetica, sans-serif;
    margin-top: 10px;
}

#location {
     color: seashell;
     background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
     height: 500px;
     align-items: center;
        width: 1200px;
    background-position: center;
    position: relative;
    margin: 0 auto;
    display: flex;
     justify-content: center;   
    flex-direction: column;
    
    
    
}
#locations h2 {
    margin-bottom: 15px;;
    
}
.adress {
    background-color: black;
    width: 300px;
    margin: 0 20px;
    padding: 10px;
    margin-right: 40px;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
color: seashell;

}
.adress h3 {
    
}

.adress h4 {
    line-height: 1.5;
    text-align: center;
}
#contats {
    margin-top: 0 auto;
    color: seashell;
    margin: 0 20px;
    padding: 10px;
    
    text-align: center;
    flex-direction: column;
    height: 200px;
    position: relative
}
.footer {
    text-align: left;
    margin-left: 20px;
}
h1, h2, h3, h4, h5 {
    font-family: Helvetica, sans-serif; !important
     color: seashell; !important
     
}
